{% extends 'base.html' %}
{% block content %}

<h1>Sign up for alerts</h1>
<div class="well spaced" style="width:40%;">

<form action="/alerts" method="GET">

    <div class="form-group">
        <label>
            Symptom
            <select class="form-control" name="symptom">
                <option value="cold">Cold</option>
                <option value="flu">Flu</option>
                <option value="cough">Cough</option>
                <option value="fever">Fever</option>
                <option value="amoeba">Amoeba</option>
            </select>
        </label>
    <input type="submit" value="Sign up for alerts" class="btn btn-danger">

</form>
</div>
{% endblock %}