{% extends 'base.html' %}
{% block content %}
<div class="well spaced" style="width:40%;">
<div>
    <h1>Login</h1>
    <form action="/login" method="POST">

        <div class="form-group">
            <label>Email:
                <input type="email" name="email" class="form-control" placeholder="Your Email Address">
            </label>
        </div>

        <div class="form-group">
            <label>Password:
                <input type="password" name="password" class="form-control" placeholder="Your Password">
            </label>
        </div>

        <div class="form-group">
            <input type="submit" value="Log In" class="btn btn-danger">
        </div>

    </form>
</div>
</div>
{% endblock %}