{% extends 'base.html' %}
{% block content %}

    <h1>New User? Sign up here</h1>
  <form action="/user_confirmation" method="POST"> <!--this form can only be one method at a time so its "method" not "methods" -->
      <label>Become a user:
          <input type="text" name="email" placeholder="e-mail"><br>
      </label>
      <label>Create a password
          <input type="password" name="password" placeholder="password"><br>
      </label>
      <input type="submit" value="Become a user!"><br>
  </form>


{% endblock %}