{% extends 'base.html' %}
{% block content %}

  <!-- <div class="collapse navbar-collapse"
             id="bs-example-navbar-collapse-1">
        
  </div>
  <br> -->

  <div class="well spaced" style="width:97%">
                <!-- <li><a href="/login">Login</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              
                  <li><a href="/alerts">Alerts</a></li>
                  <li><a href="/map">View on Map</a></li>
              

            </ul>
        </div>
        <ul class="nav navbar-nav">
                
                <li><a href="/register">Register</a></li> -->
  <h2>{{ user.firstname }} ({{ user.lastname }})</h2>

  <b><p style="color:green">Email: {{ user.email }}</p></b>

  
    <h3>Reports</h3>
    <b><p style="color:blue"><a href="/addnewreport">Click here to add a new report:</a></p></b>

    {% if user.userreports %}
    <ul>
    {% for report_object in user.userreports %}
      <li>
        {{ user.firstname }}
        added the following illness report 
        for zipcode {{report_object.address}} : {{report_object.report}}

      </li>
    {% endfor %}
    </ul>

    {% else %} 
    <b><p style="color:blue">No reports found.

  {% endif %}
</div>
{% endblock %}