{% extends 'base.html' %}

{% block body %}

    <h2>{{ symptom.sym_name }}</h2>

    <!-- <div class="row">

        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <img src="{{ display_melon.image_url }}" class="img-responsive">
        </div> -->

        <!-- <div class="col-xs-8 col-sm-6 col-md-4 col-lg-3">
            <div class="well">
                <h3>Price per melon</h3>
                <p> {{ display_melon.price_str() }} </p>
                <a class="btn btn-primary" href="/add_to_cart/{{ display_melon.id }}">
                    Add to Cart
                </a>
            </div>
        </div>
    </div>

    <div class="melon-details"> -->

        <h3>Symptom details</h3>

        <ul>
            <li>Medical name: {{ symptom.sym_name }}</li>
            {% if symptom.contagious %}
              <li>Non- contagious</li>
            {% else %}
              <li class='warning'>Warning! This illness is contagious</li>
            {% endif %}
            <li>Prevention: {{ symptom.sym_name }}</li>
        </ul>
    </div>

{% endblock %}
